/*GOOGLE FONTS*/

body{
	background-color: white;
}

.prod{
	height: 50%;
	width: auto;
}

footer{
background-color: #A5BF52;
}
.api{
	padding: 20px;
}
.margen{
	margin-left: 120px;
	margin-right: 120px;
	background-color: #eee677;
}

.verde{
	background-color: #eee677;
}
.fixed{
	position: fixed;
}
.anuncio{
	background-color:#ada300;
	height: 25px;
	margin: 0px;
	text-align: center;
}

a{
	font-size: 14px;
	color: white;
}

h4{
	color: black;
}
.nav-extended {
    font-size: 14px;
    color: black;
    margin: 0px;
  	background-color: #A5BF52;
  	padding-left: 120px;
  	padding-right: 120px;
  	padding-top: 5px;
  	padding-bottom: 5px;
  }

p{
	margin: 0px;
	padding: 2px;
}

.pink{
	height: 30px;
}

.product{
		font-family: 'Dosis', sans-serif; 
}

.nosotros{
	margin-left: 120px;
	margin-top: 60px;
	text-align: justify;

}

  .foto{
  	background-color: white;
 	margin-top: 5px;
 	margin-bottom: 0px;
  }

  .recomendados{
  	background-color:#ada300;
  	margin: 0px;
  	font-family: 'Acme', sans-serif;
  }

  h5{
  	text-align: center;
  }

  .largo{
  	float: center;
  	align-content: center;
  	text-align: center;
  		font-family: 'Acme', sans-serif;
  }

  .cards{
  	margin: 0px;
  }

.item{
	max-height: 250px;
	min-height: 100px;
	width: auto;
}

.about{
	background-color: #eee677;
	margin: 0px;
	padding: 0px;
	height: 70px;
	font-family: 'Acme', sans-serif;
}

h4{
	font-family: 'Acme', sans-serif;
}

.texto{
	text-align: center;
	font-size: 20px;
}

.fotos1{
	margin: 10px;
}

.page-footer {
    font-size: 14px;
    color: black;
    margin: 0px;
  	background-color: #ada300;
  	padding-left: 30px;
  	padding-right: 30px;
  	padding-top: 5px;
  	padding-bottom: 5px;
  }

.cardcolor{
	font-style: bold;
	background-color: #eee677;
}

.todos{
	padding: 0px;
	float: center;
	font-size: 12px;
}

.ayuda{
	text-align:right;
}

.pagos{
	padding-top: 20px;
	align-content: center;
	float: center;
}

h6{
	font-style: bold;
}

.navbarsmall{
	font-size: 14px;
    color: black;
    margin: 0px;
  	background-color: #A5BF52;
  	padding-left: 30px;
  	padding-right: 30px;
  	padding-top: 5px;
  	padding-bottom: 5px;
  	align-content: center;
}

.sidenav{
	background-color: #ada300;
}

.userview{
	align-content: center;
}

.logo1{
	align-content: center;
	float: center;
	text-align: center;
}

.val{
	padding-left: 80px;
}